<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Detalle de la nota</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'detalle.css' %}">
  </head>
  <body>
    <div style="text-align: right; padding: 10px;"></div>

    <h1>Detalle de la nota</h1>
    <h1>{{ nota.titulo }}</h1>
    <h2>{{ nota.contenido }}</h2>

    <div>
      <form action="{% url 'notas:eliminar' nota.id %}" method="POST" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="delete">Eliminar</button>
      </form>

      <button  class="btn-link"><a href="{% url 'notas:editar' nota.id %}">Editar</a></button>

      <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
      </form>
    </div>
  </body>
</html>
