<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Detalle de la nota</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'editar.css' %}">
  </head>
  <body>
    <h1>Edicion</h1>
    <div class="card">
      <h2>Nota original</h2>
      <div class="note-content">
        <p><strong>Título:</strong></p>
        <p>{{ nota.titulo }}</p>
        <br>
        <p><strong>Contenido:</strong></p>
        <p>{{ nota.contenido }}</p>
      </div>
    </div>

    <form method="post">
      {% csrf_token %}
      <fieldset>
          <legend><h1>Editar nota</h1></legend>
          {{ form.as_p }}

          <button type="submit">Guardar cambios</button>
          <a href="{% url 'notas:lista' %}" class="cancelar">Cancelar</a>
      </fieldset>
    </form>


</body>
</html>