<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lista.css' %}">
    <title>Notas</title>
  </head>

  <body>
    <h1>Listado de notas</h1>
    {% if lista_notas %}
    <ul>
      {% for nota in lista_notas %}
      <li><a href="{% url 'notas:detail' nota.id %}">{{ nota.titulo }}</a></li>
      {% endfor %}
    </ul>
    <a href="{% url 'notas:formulario' %}" class="crear-btn">Crear una pregunta</a>
    {% else %}
      <p>No se encontraron notas</p>
    {% endif %}
  </body>
</html>
