<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'lista.css' %}">
    <title>Notas</title>
  </head>

  <body>
    <div style="text-align: right; padding: 10px;">
      <form action="{% url 'logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit">Cerrar sesión</button>
      </form>
    </div>
    <h1>Listado de notas</h1>
    {% if lista_notas %}
    <ul>
      {% for nota in lista_notas %}
      <li><a href="{% url 'notas:detail' nota.id %}">{{ nota.titulo }}</a></li>
      {% endfor %}
    </ul>
    <a href="{% url 'notas:crear' %}" class="crear-btn">Crear una pregunta</a>
    {% else %}
      <p>No se encontraron notas</p>
    {% endif %}
  </body>
</html>
